<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exampleUsage</key>
	<string>/searchName={searchName}&amp;number={number} =&gt; /searchName=test&amp;number=10</string>
	<key>apiKey</key>
	<string>1f54bd990f1cdfb230adb312546d765d</string>
	<key>nowPlaying</key>
	<string>/movie/now_playing?language={language}&amp;page={page}&amp;</string>
	<key>upcoming</key>
	<string>/movie/upcoming?language={language}&amp;page={page}&amp;</string>
	<key>topRated</key>
	<string>/movie/top_rated?language={language}&amp;page={page}&amp;</string>
	<key>popular</key>
	<string>/movie/popular?language={language}&amp;page={page}&amp;</string>
	<key>movie</key>
	<string>/movie/{idMovie}?language={language}&amp;</string>
	<key>videos</key>
	<string>/movie/{idMovie}/videos?language={language}&amp;</string>
	<key>recommendations</key>
	<string>/movie/{idMovie}/recommendations?page={page}&amp;</string>
	<key>similar</key>
	<string>/movie/{idMovie}/similar?page={page}&amp;</string>
	<key>reviews</key>
	<string>/movie/{idMovie}/reviews?page={page}&amp;</string>
	<key>credits</key>
	<string>/movie/{idMovie}/credits?language={language}&amp;</string>
	<key>searchMovie</key>
	<string>/search/movie?query={query}&amp;page={page}&amp;</string>
	<key>searchPerson</key>
	<string>/search/person?query={query}&amp;page={page}&amp;</string>
	<key>searchByGenre</key>
	<string>/genre/{id}/movies?language={language}&amp;</string>
	<key>searchTV</key>
	<string>/search/tv?query={query}&amp;page={page}&amp;</string>
	<key>genres</key>
	<string>/genre/movie/list?language={language}&amp;</string>
	<key>genresTV</key>
	<string>/genre/tv/list?language={language}&amp;</string>
	<key>person</key>
	<string>/person/{idPerson}?language={language}&amp;</string>
	<key>personMovieCredits</key>
	<string>/person/{idPerson}/movie_credits?language={language}&amp;</string>
	<key>personExternalIds</key>
	<string>/person/{idPerson}/external_ids?language={language}&amp;</string>
	<key>popularPeople</key>
	<string>/person/popular?language={language}&amp;page={page}&amp;</string>
	<key>personImages</key>
	<string>/person/{idPerson}/images?language={language}&amp;</string>
	<key>tvPopular</key>
	<string>/tv/popular?language={language}&amp;page={page}&amp;</string>
	<key>tvOnTheAir</key>
	<string>/tv/on_the_air?language={language}&amp;page={page}&amp;</string>
	<key>tvTopRated</key>
	<string>/tv/top_rated?language={language}&amp;page={page}&amp;</string>
	<key>tvLatest</key>
	<string>/tv/latest?language={language}&amp;</string>
	<key>tvAiringToday</key>
	<string>/tv/airing_today?language={language}&amp;page={page}&amp;</string>
	<key>tvDetail</key>
	<string>/tv/{id}?language={language}&amp;</string>
	<key>tvVideos</key>
	<string>/tv/{id}/videos?language={language}&amp;</string>
	<key>tvRecommendations</key>
	<string>/tv/{id}/recommendations?language={language}&amp;</string>
	<key>tvSimilar</key>
	<string>/tv/{id}/similar?language={language}&amp;</string>
	<key>tvCredits</key>
	<string>/tv/{id}/credits?language={language}&amp;</string>
	<key>tvImages</key>
	<string>/tv/{id}/season/{season}/episode/{episode}/images?language={language}&amp;</string>
	<key>multiSearch</key>
	<string>/search/multi?language={language}&amp;query={query}&amp;page={page}&amp;</string>
	<key>seasonDetail</key>
	<string>/tv/{id}/season/{season}?language={language}&amp;</string>
	<key>personalityTest</key>
	<string>/personalityTest</string>
	<key>personalityTestBR</key>
	<string>/personalityTestBR</string>
	<key>personalityTypes</key>
	<string>/personalityTypes</string>
	<key>personalityTypesBR</key>
	<string>/personalityTypesBR</string>
	<key>netflixGenres</key>
	<string>/netflixGenres</string>
	<key>netflixGenresBR</key>
	<string>/netflixGenresBR</string>
	<key>netflixComing</key>
	<string>/v2/browse/changing-availability?availability_kind=2&amp;sources=netflix&amp;availability=all&amp;content_kind={contentKind}</string>
	<key>netflixLeaving</key>
	<string>/v2/browse/changing-availability?availability_kind=1&amp;sources=netflix</string>
	<key>netflixMoviesShow</key>
	<string>/v2/browse/source/netflix?content_kind={contentKind}&amp;sources=netflix&amp;genre={genre}</string>
	<key>netflixMovieShowDetail</key>
	<string>/v1/{contentKind}/{id}</string>
	<key>netflixImage</key>
	<string>/content/{contentKind}/{id}/poster-342.jpg</string>
</dict>
</plist>
