<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exampleUsage</key>
	<string>/searchName={searchName}&amp;number={number} =&gt; /searchName=test&amp;number=10</string>
	<key>apiKey</key>
	<string>1f54bd990f1cdfb230adb312546d765d</string>
	<key>upcoming</key>
	<string>/movie/upcoming?page={page}&amp;</string>
	<key>movie</key>
	<string>/movie/{idMovie}?</string>
	<key>topRated</key>
	<string>/movie/top_rated?page={page}&amp;</string>
	<key>popular</key>
	<string>/movie/popular?page={page}&amp;</string>
	<key>searchMovie</key>
	<string>/search/movie?query={query}&amp;</string>
	<key>searchPerson</key>
	<string>/search/person?query={query}&amp;</string>
	<key>searchByGenre</key>
	<string>/genre/{id}/movies?</string>
	<key>genres</key>
	<string>/genre/movie/list?</string>
</dict>
</plist>
